.banner {
  position: absolute;
  top: 20vh;
  z-index: 10;
  image-rendering: pixelated;
  width: 100%;
  animation: fadeIn ease 2s;

  img {
    width: 80%;
  }

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-text {
    background-color: #e3e3e3;
    width: 60%;
    border: 1px solid grey;
    border-radius: 25px;
    position: relative;
    top: -5rem;
    z-index: -10;
    height: 10rem;
    padding: 1rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
