.container {
  display: flex;
  flex-direction: column;

  .lists {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #drop-zone {
    background-color: aqua;
    min-width: 200px;
    min-height: 200px;
  }
}
